<p class="tagline">Submit scientific names and classifications to the Global Names environment</p>

<p>We prefer to receive lists in <%= link_to "Darwin Core Archive", "http://www.gbif.org/informatics/standards-and-tools/publishing-data/data-standards/darwin-core-archives/" %> (DwC-A) format with an included metadata file in Ecological Markup Language (EML), though we also offer services to accept files in other formats for transformation into validly formed DwC-A.</p>

<p>By default, submissions to <em>postbox</em> will reside in the <%= link_to "Global Names Classification and List Repository", "http://gnaclr.globalnames.org" %> with a <%= link_to "CC0 waiver", "http://creativecommons.org/choose/zero/" %> and name occurrences will be added the <%= link_to "Global Names Index", "http://gni.globalnames.org" %>.</p>

<div class="hrDotted"></div>

<p>Lorem ipsum...</p>