<% title "About" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "About" %>
<%- end -%>

<div id="about">

<p><em>PostBox</em> is a component of the National Science Foundation-funded <%= link_to "Global Names project", "http://www.globalnames.org/NSF" %> and is served from the Marine Biological Laboratory in Woods Hole, MA. Uploaded files are previewed in a navigable tree and basic statistics are produced. Future versions will include transformation of files into Darwin Core Archive format and more robust validation routines.</p>

</div>