<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you, <%= @upload.email %></h1>
    <p>Your upload has finished processing.</p>
    <p>To preview the file, follow this link: <%= upload_url :id => @upload.token %>.</p>
    <p>Please note that the preview will be active for 10 days.</p>
    <p>========================================</p>
    <p>Global Names, http://www.globalnames.org</p>
  </body>
</html>