// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset.buttons ol{
  margin-left:12em;
}
#upload-preview{
  position:relative;
  height:600px;
}
#tree-wrapper{
  height:560px;
  width:500px;
  overflow:auto;
  position:absolute;
  left:0px;
  top:0px;
}
#tree-stats{
  position:absolute;
  right:0px;
  top:0px;
  width:425px;
}
#tree-stats h3{
  padding-top:0px;
  margin-top:0px;
}
li{line-height:1.25em;}