<%= title "GlobalNames PostBox Uploads" %>
<%- content_for :header do -%>
  <h1>GlobalNames PostBox Uploads</h1>
<%- end -%>

<% if @uploads.size > 0 %>
<table>
  <tr>
    <th>Email</th>
  </tr>
  <% @uploads.each do |upload| %>
    <tr>
      <td>
        <%=h upload.email %>
      </td>
      <td><%= link_to "Show", upload %></td>
    </tr>
  <% end %>
</table>
<% end %>

<p><%= link_to "New Upload", new_upload_path %></p>