<% title "Uploads" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Uploads" %>
<%- end -%>

<% if @uploads.size > 0 %>
<table>
  <tr>
    <th>Email</th>
  </tr>
  <% @uploads.each do |upload| %>
    <tr>
      <td>
        <%=h upload.email %>
      </td>
      <td><%= link_to "Show", upload.token %></td>
    </tr>
  <% end %>
</table>
<% end %>