<%= title "GlobalNames PostBox Upload Preview" %>
<%- content_for :header do -%>
  <h1>GlobalNames PostBox Upload Preview</h1>
<%- end -%>

<p>
  <strong>Email:</strong>
  <%=h @upload.email %>
</p>

